<h1>Movie Genres</h1>

<%= link_to 'Back', :root %>
<%= link_to 'Add', new_genre_path %>

<dl>
  <% @genres.each do |genre| %>
    <dt>
      <%= link_to genre.name, genre_path(genre) %>
    </dt>
  <% end %>
</dl>