<h1>Movies</h1>

<%= link_to 'Back', :root %>
<%= link_to 'Add', new_movie_path %>

<dl>
  <% @movies.each do |movie| %>
  <dt>
    <%= link_to "#{movie.title} (#{movie.release_year}) - #{movie.released? ? 'Released' : 'Unreleased'}", movie_path(movie) %>
  </dt>
  <dt>
  </dt>
  <% end %>
</dl>