<h1>Directors</h1>

<%= link_to 'Add', new_director_path %>
<%= link_to 'Back', :root %>

<dl>
  <% @directors.each do |director| %>
    <dt>
      <%= link_to(director.name, director_path(director)) %>
    </dt>
  <% end %>
</dl>