<h1>Movies Catalogue</h1>
<dl>
  <dt>
    <strong><%= link_to "Movies Index", movies_path %></strong>
  </dt>
  <dt>
    <strong><%= link_to "Directors Index", directors_path %></strong>
  </dt>
  <dt>
    <strong><%= link_to "Genres Index", genres_path %></strong>
  </dt>
</dl>
